{{/* Taken from https://github.com/tomfran/typo/blob/main/layouts/_default/home.html */}}

{{ define "main" }}

{{ .Content }}

{{/* Intro summary section */}}

{{ with resources.Get "images/sandy.jpeg" }}
<div class="flex flex-column items-center items-start-ns">
    <img src="{{ .RelPermalink }}" class="" style="max-height: 300px;">
</div>
{{ end }}

{{ if or .Site.Params.homeIntroTitle .Site.Params.homeIntroContent }}
<div class="intro">
    {{ with .Site.Params.homeIntroTitle }}
    <h1>{{ . }}</h1>
    {{ end }}

    {{ with .Site.Params.homeIntroContent }}
    <p class="tj tl-ns">{{ . | markdownify }}</p>
    {{ end }}
</div>
{{ end }}

{{/* Social Icons */}}

{{ with site.Params.social }}
<div class="social-icons">
    {{- range . }}
    <a href="{{ trim .url " " | safeURL }}" target="_blank" rel="noopener noreferrer me"
        title="{{ (.title | default .name) | title }}">
        {{ partial "svg.html" . }}
    </a>
    {{- end }}
</div>
{{ end }}

{{ if .Site.Params.homeCollection }}

<div class="list-container">
    {{ with .Site.Params.homeCollectionTitle}}
    <h1> {{ . }} </h1>
    {{ end }}

    {{ $pages := where .Site.RegularPages "Section" .Site.Params.homeCollection
    }}

    {{ $paginationSize := 1}}
    {{ if (gt .Site.Params.paginationSize 0) }}
    {{ $paginationSize = .Site.Params.paginationSize }}
    {{ end }}

    {{ $paginator := .Paginate $pages $paginationSize }}

    {{ range $index, $page := $paginator.Pages }}
    {{ partial "post-entry.html" $page}}
    {{ end }}

    {{ partial "pagination-controls.html" $paginator}}
</div>

{{ end }}

{{/* Custom content */}}
<h1>Get in touch!</h1>
<p>
    If you're looking for an engine developer or graphics programmer, I'd love to hear from you! You can reach me at <a
        href="mailto:jysandilya@gmail.com">jysandilya@gmail.com</a>.
</p>

<br>

<h1> Things I've built </h1>
<div class="column">

    <div class="flex flex-column">
        <a href="https://github.com/jysandy/Gradient">
            <h3>Gradient</h3>
        </a>
        <div class="flex flex-column">
            <div class="flex flex-column">
                <iframe class="youtube-video pa1-ns pv1" src="https://www.youtube.com/embed/3tSDQUCSKoo"
                    title="YouTube video player" frameborder="0"
                    allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
                    referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe>

                <div class="w-100-ns">
                    {{ with resources.Get "images/gradient1.png" }}
                    <a href="{{ .RelPermalink }}">
                        <img src="{{ .RelPermalink }}" class="pa1-ns pv1">
                    </a>
                    {{ end }}
                </div>
                <div class="flex flex-column flex-row-ns">
                    <div class="w-70-ns">
                        {{ with resources.Get "images/gradient3.png" }}
                        <a href="{{ .RelPermalink }}">
                            <img src="{{ .RelPermalink }}" class="pa1-ns pv1">
                        </a>
                        {{ end }}
                    </div>
                    <div class="w-30-ns flex flex-column">
                        {{ with resources.Get "images/gradient2.png" }}
                        <a href="{{ .RelPermalink }}">
                            <img src="{{ .RelPermalink }}" class="pa1-ns pv1">
                        </a>
                        {{ end }}

                        {{ with resources.Get "images/gradient4.png" }}
                        <a href="{{ .RelPermalink }}">
                            <img src="{{ .RelPermalink }}" class="pa1-ns pv1">
                        </a>
                        {{ end }}
                    </div>

                </div>
            </div>
            <a href="https://github.com/jysandy/Gradient" class="flex flex-row items-center">
                {{ with resources.Get "images/github-mark.png" }}
                <img src="{{ .RelPermalink }}" width="20" height="20" class="light-only inline">
                {{ end }}
                {{ with resources.Get "images/github-mark-white.png" }}
                <img src="{{ .RelPermalink }}" width="20" height="20" class="dark-only inline">
                {{ end }}
                <span class="ml2">View on Github</span>
            </a>
            <p class="tj tl-ns">
                Gradient is a game engine written in C++ and DirectX 12. It uses forward rendering with a Z-prepass.
                The scene has 9.7 million leaves which are individually instanced, culled and animated on the GPU using
                a mesh shader. Some other major features are physics simulation and a first-person character controller
                using Jolt, frustum culling, PBR materials, HDR rendering, water and procedurally generated foliage.
            </p>

            {{ partial "seeMore.html"
            `
            <p class="tj tl-ns">
                Here's a more exhaustive list of features and references:
            <ul>
                <li>
                    Mesh shaders are used to render the 9.7 million leaves in the scene. The mesh shader also performs
                    frustum culling on the GPU, in all passes. Details and performance discussion <a
                        href="/posts/mesh-shaders/">here</a>.
                </li>

                <li>
                    A basic scene tree and entity system built on <a href="https://github.com/skypjack/entt">entt</a>.
                    entt is used to group physics bodies, meshes, transforms, materials, instance data and more.
                </li>

                <li>PBR direct lighting and materials based on UE4's roughness-metallic workflow.
                    <ul>
                        <li>Image-based lighting using a BRDF LUT is currently not implemented. Since I was short on
                            time, I used a cheap approximation instead.
                            To compute indirect lighting, the reflected view vector is used to sample the sky dome. A
                            flat ambient term is added to this value and the result is fed to the BRDF. This step is
                            repeated by sampling the sky dome using the surface normal and the two results are combined.
                            Refer to the source <a
                                href="https://github.com/jysandy/Gradient/blob/11e54c8e08c79bec53f8d7c7dc8a78f329c4a87f/Core/Shaders/PBRLighting.hlsli#L340">here</a>
                            for details.
                        </li>
                    </ul>
                </li>

                <li>
                    GTAO (without bent normals) using <a href="https://github.com/GameTechDev/XeGTAO">XeGTAO</a>.
                </li>

                <li>
                    Physics simulation and first-person movement using the <a
                        href="https://github.com/jrouwe/JoltPhysics">Jolt</a> physics engine.
                </li>

                <li>
                    Water simulation using hardware tesselation. Refer to <a
                        href="/posts/gradient-water-rendering/">this blog post</a> for details.
                </li>

                <li>
                    Procedurally generated foliage using L-systems. Details are in <a
                        href="/posts/procedural-trees/">this blog post</a>.
                </li>

                <li>
                    Coarse frustum culling on the CPU. This is done for all passes, including the shadow pass. Details
                    <a href="/posts/procedural-trees/">here</a>. The culling frustum can be frozen in place to observe
                    the effects.
                </li>

                <li>
                    Shadow mapping with large kernel PCF. The shadow frustum is fit around the camera frustum for
                    culling and to make efficient use of the shadow map texels.
                </li>

                <li>
                    Point lights with shadows. Culling is in place when drawing point light shadows as well.
                </li>

                <li>
                    Normal mapping without precomputed tangents, as explained by Christian Schüler <a
                        href="http://www.thetenthplanet.de/archives/1180">here</a>.
                </li>

                <li>
                    A translucency-based subsurface scattering approximation, explained by Alan Zucconi <a
                        href="https://www.alanzucconi.com/2017/08/30/fast-subsurface-scattering-1/">here</a>. This is in
                    turn based on EA's presentation <a
                        href="https://colinbarrebrisebois.com/2011/03/07/gdc-2011-approximating-translucency-for-a-fast-cheap-and-convincing-subsurface-scattering-look/">here</a>.
                    I used this for both the <a href="/posts/gradient-water-rendering/">water</a> and the leaves.
                </li>
            </ul>
            </p>
            `
            }}
        </div>
    </div>

    <div class="flex flex-column">
        <a href="https://github.com/jysandy/IntervalShadedVolumetrics">
            <h3>Interval Shaded Volumetrics</h3>
        </a>
        <div class="flex flex-column">
            <div class="flex flex-column">
                <iframe class="youtube-video pa1-ns pv1" src="https://www.youtube.com/embed/2GmEsqfMqtY"
                    title="YouTube video player" frameborder="0"
                    allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
                    referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe>

                <div class="flex flex-column flex-row-ns">
                    <div class="w-70-ns">
                        {{ with resources.Get "images/isv-1.png" }}
                        <a href="{{ .RelPermalink }}">
                            <img src="{{ .RelPermalink }}" class="pa1-ns pv1">
                        </a>
                        {{ end }}
                    </div>
                    <div class="w-30-ns flex flex-column">
                        {{ with resources.Get "images/isv-3.png" }}
                        <a href="{{ .RelPermalink }}">
                            <img src="{{ .RelPermalink }}" class="pa1-ns pv1">
                        </a>
                        {{ end }}

                        {{ with resources.Get "images/isv-2.png" }}
                        <a href="{{ .RelPermalink }}">
                            <img src="{{ .RelPermalink }}" class="pa1-ns pv1">
                        </a>
                        {{ end }}
                    </div>

                </div>
            </div>
            <a href="https://github.com/jysandy/IntervalShadedVolumetrics" class="flex flex-row items-center">
                {{ with resources.Get "images/github-mark.png" }}
                <img src="{{ .RelPermalink }}" width="20" height="20" class="light-only inline">
                {{ end }}
                {{ with resources.Get "images/github-mark-white.png" }}
                <img src="{{ .RelPermalink }}" width="20" height="20" class="dark-only inline">
                {{ end }}
                <span class="ml2">View on Github</span>
            </a>
            <p class="tj tl-ns">
                This is a novel volumetric rendering technique that doesn't use ray-marching, voxels or temporal
                blending. Instead of representing the participating medium using a density field or voxels, this
                method
                builds on the work of <a href="https://www.youtube.com/watch?v=BbMGtfMei10">Thibault Tricard's
                    Interval
                    Shading</a> to draw volumetric particles as tetrahedrons that are composed of
                participating media. This project forms my master's dissertation, and is still under active
                development.
            </p>

            {{ partial "seeMore.html"
            `
            <p class="tj tl-ns">
                Radiance is integrated analytically for a single tetrahedron using the depth interval provided by
                interval
                shading. The tetrahedrons are drawn furthest-to-nearest and blending is
                used to integrate radiance across all particles. Self shadowing is achieved by first rendering
                optical depth into a light-space 3D texture similar to conventional shadow maps. To determine the
                radiance arriving at a depth interval, this 3D texture is sampled at both interval boundaries and
                linearly interpolated. This doesn't result in artifacts since the tetrahedrons are relatively small
                compared to the resolution of the shadow map. Furthermore, since this technique doesn't use ray-marching
                and
                doesn't represent the participating medium as any sort of scalar field, there are no aliasing or noise
                artifacts caused due to under-sampling.
            </p>
            `
            }}
        </div>
    </div>

    <div class="flex flex-column">
        <a href="https://github.com/jysandy/sandtrace">
            <h3>sandtrace</h3>
        </a>
        <div class="flex flex-column">
            <div class="flex flex-column">
                {{ with resources.Get "images/sandtrace1.png" }}
                <a href="{{ .RelPermalink }}">
                    <img src="{{ .RelPermalink }}" class="pa1-ns pv1 w-100"
                        style="max-height: 400px; object-fit: contain;">
                </a>
                {{ end }}

                <div class="flex flex-column flex-row-ns">
                    {{ with resources.Get "images/sandtrace2.png" }}
                    <a href="{{ .RelPermalink }}">
                        <img src="{{ .RelPermalink }}" class="pa1-ns pv1">
                    </a>
                    {{ end }}

                    {{ with resources.Get "images/sandtrace3.png" }}
                    <a href="{{ .RelPermalink }}">
                        <img src="{{ .RelPermalink }}" class="pa1-ns pv1">
                    </a>
                    {{ end }}
                </div>
            </div>
            <a href="https://github.com/jysandy/sandtrace" class="flex flex-row items-center">
                {{ with resources.Get "images/github-mark.png" }}
                <img src="{{ .RelPermalink }}" width="20" height="20" class="light-only inline">
                {{ end }}
                {{ with resources.Get "images/github-mark-white.png" }}
                <img src="{{ .RelPermalink }}" width="20" height="20" class="dark-only inline">
                {{ end }}
                <span class="ml2">View on Github</span>
            </a>
            <p class="tj tl-ns">
                sandtrace is a non-real-time Whitted ray-tracer written in C++. I worked on it during my undergrad in
                2014.
            </p>
        </div>
    </div>

    <div class="flex flex-column">
        <a href="https://murray-c.itch.io/citruspire">
            <h3>CitruSpire: Quest For the Sacred Fruit</h3>
        </a>
        <div class="flex flex-column">
            <div class="flex flex-column">


                <div class="w-100-ns">
                    {{ with resources.Get "images/lemonade1.png" }}
                    <a href="{{ .RelPermalink }}">
                        <img src="{{ .RelPermalink }}" class="pa1-ns pv1">
                    </a>
                    {{ end }}
                </div>
                <div class="flex flex-column flex-row-ns">
                    <div class="w-70-ns">
                        {{ with resources.Get "images/lemonade3.png" }}
                        <a href="{{ .RelPermalink }}">
                            <img src="{{ .RelPermalink }}" class="pa1-ns pv1">
                        </a>
                        {{ end }}
                    </div>
                    <div class="w-30-ns flex flex-column">
                        {{ with resources.Get "images/lemonade2.png" }}
                        <a href="{{ .RelPermalink }}">
                            <img src="{{ .RelPermalink }}" class="pa1-ns pv1">
                        </a>
                        {{ end }}

                        {{ with resources.Get "images/lemonade4.png" }}
                        <a href="{{ .RelPermalink }}">
                            <img src="{{ .RelPermalink }}" class="pa1-ns pv1">
                        </a>
                        {{ end }}
                    </div>

                </div>
            </div>
            <a href="https://github.com/jysandy/Lemonade" class="flex flex-row items-center">
                {{ with resources.Get "images/github-mark.png" }}
                <img src="{{ .RelPermalink }}" width="20" height="20" class="light-only inline">
                {{ end }}
                {{ with resources.Get "images/github-mark-white.png" }}
                <img src="{{ .RelPermalink }}" width="20" height="20" class="dark-only inline">
                {{ end }}
                <span class="ml2">View on Github</span>
            </a>
            <a href="https://murray-c.itch.io/citruspire" class="flex flex-row items-center">
                <span class="ml2">Download on itch.io</span>
            </a>
            <p class="tj tl-ns">
                CitruSpire: Quest for the Sacred Fruit is a short 2.5D action platformer game made in Unreal Engine 5.4.
                I worked with a team of second year undergraduate students to build this as a part of my
                master's programme at Abertay University.
                I was responsible for programming most of the core systems of the game, including character movement and
                animations,
                a camera pivoting mechanic, parallax 2D backgrounds, the save and checkpoint system and enemy AI, to
                name a few.
                I was also responsible for production of the project.
            </p>
        </div>
    </div>
</div>

<br>

<h1> Experiences I've had</h1>
<div class="column">
    <div class="flex flex-column mv3">
        <div class="flex flex-column flex-row-ns items-center">
            <div class="w-100 w-third-ns pr3-ns">
                <div class="pa3 br3 flex flex-column items-center" style="background: white;">
                    {{ with resources.Get "images/nilenso-logo.svg" }}
                    <a href="https://nilenso.com">
                        <img src="{{ .RelPermalink }}">
                    </a>
                    {{ end }}
                </div>
            </div>
            <p class="w-two-thirds-ns tj tl-ns">
                nilenso is an employee-owned software cooperative. I worked with clients (listed below) to build
                complex and scalable backend services, and to coach and train their developers as necessary. I also
                helped define hiring strategy at nilenso and have mentored and trained junior engineers.
            </p>
        </div>
    </div>

    <div class="flex flex-column mv3">
        <div class="flex flex-column flex-row-ns items-center">
            <div class="w-third-ns pr3-ns">
                <div class="pa3 br3" style="background: white; ">
                    {{ with resources.Get "images/ch-logo.webp" }}
                    <img src="{{ .RelPermalink }}">
                    {{ end }}
                </div>
            </div>
            <p class="w-two-thirds-ns tj tl-ns">
                Consolidate Health is a healthcare data app for American patients. As one of their first engineers,
                I designed their patient data platform and built the product from the ground up.
            </p>
        </div>
    </div>

    <div class="flex flex-column mv3">
        <div class="flex flex-column flex-row-ns items-center">
            <div class="w-third-ns pr3-ns">
                <div class="pa3 br3" style="background: white; ">
                    {{ with resources.Get "images/gojek-logo.png" }}
                    <a href="https://gojek.com">
                        <img src="{{ .RelPermalink }}">
                    </a>
                    {{ end }}
                </div>
            </div>
            <p class="w-two-thirds-ns tj tl-ns">
                Gojek is an on-demand decacorn in Southeast Asia. I worked on
                multiple products, including their ride-hailing platform, a voucher bundling system, an A/B
                testing platform, a payments processor and a Kubernetes-based microservice deployment platform.
            </p>
        </div>
    </div>

    <div class="flex flex-column mv3">
        <div class="flex flex-column flex-row-ns items-center">
            <div class="w-third-ns pr3-ns">
                <div class="pa3 br3" style="background: white; ">
                    {{ with resources.Get "images/staples-logo.png" }}
                    <a href="https://www.staples.com">
                        <img src="{{ .RelPermalink }}">
                    </a>
                    {{ end }}
                </div>
            </div>
            <p class="w-two-thirds-ns tj tl-ns">
                Staples Sparx was an arm of Staples that used machine learning to suggest content on Staples’
                e-commerce
                website. I built a web-based frontend for their internal A/B testing system.
            </p>
        </div>
    </div>
</div>

<br>

<h1>Tech I've used</h1>

<div class="flex flex-row">
    <ul class="mr5">
        <li>C++</li>
        <li>DirectX 12</li>
        <li>Unreal Engine</li>
        <li>Clojure</li>
        <li>C#</li>
        <li>Ruby</li>
        <li>Go</li>
    </ul>

    <ul>
        <li>JavaScript</li>
        <li>Haskell</li>
        <li>Postgres</li>
        <li>Google Cloud</li>
        <li>AWS</li>
        <li>Kubernetes</li>
    </ul>
</div>

<br>

<h1>Odds and ends</h1>
<div class="flex flex-column">
    <div class="flex flex-column">
        <div class="flex flex-column flex-row-ns items-center">
            <div class="w-third-ns pr3-ns">
                <div class="pa3 br3" style="background: white; ">
                    {{ with resources.Get "images/inclojure-logo.png" }}
                    <a href="https://inclojure.org">
                        <img src="{{ .RelPermalink }}">
                    </a>
                    {{ end }}
                </div>
            </div>
            <p class="w-two-thirds-ns tj tl-ns">
                <a href="https://inclojure.org">IN/Clojure</a> is India's annual Clojure and ClojureScript
                conference.
                I've helped organise it in
                <a href="https://inclojure.org/archive/2018/">2018</a>,
                <a href="https://inclojure.org/archive/2019/">2019</a> and
                <a href="https://inclojure.org/archive/2020/">2020</a>. I ran the beginner's Clojure workshop every
                year
                and helped develop
                the curriculum for it.
            </p>
        </div>
    </div>

    <div class="flex flex-column">
        <div class="flex flex-column flex-row-ns items-center">
            <div class="w-third-ns pr3-ns">
                <iframe class="youtube-video"
                    src="https://www.youtube.com/embed/videoseries?si=vAqthPo20kt4l_3t&amp;controls=0&amp;list=PL2Q86tDyogSXCZnAwtxGa5cCmxEKosFZ-"
                    title="YouTube video player" frameborder="0"
                    allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
                    referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe>
            </div>
            <p class="w-two-thirds-ns tj tl-ns">
                I recorded some <a
                    href="https://www.youtube.com/playlist?list=PL2Q86tDyogSXCZnAwtxGa5cCmxEKosFZ-">screencasts</a>
                on the nilenso YouTube channel addressing some fundamental Clojure topics that I felt weren't
                covered
                well
                in existing Clojure material.
            </p>
        </div>
    </div>
</div>

<br>
<br>

{{ end }}