{{/* Taken from https://github.com/tomfran/typo/blob/main/layouts/_default/home.html */}}

{{ define "main" }}

{{ .Content }}

{{/* Intro summary section */}}

{{ $style := resources.Get "main.css" | resources.Minify | resources.Fingerprint }}
<link rel="stylesheet" href="{{ $style.Permalink }}">

{{ if or .Site.Params.homeIntroTitle .Site.Params.homeIntroContent }}
<div class="intro">
    {{ with .Site.Params.homeIntroTitle }}
    <h1>{{ . }}</h1>
    {{ end }}

    {{ with .Site.Params.homeIntroContent }}
    <p>{{ . | markdownify }}</p>
    {{ end }}
</div>
{{ end }}

{{/* Social Icons */}}

{{ with site.Params.social }}
<div class="social-icons">
    {{- range . }}
    <a href="{{ trim .url " " | safeURL }}" target="_blank" rel="noopener noreferrer me"
        title="{{ (.title | default .name) | title }}">
        {{ partial "svg.html" . }}
    </a>
    {{- end }}
</div>
{{ end }}

{{/* Collection Section */}}

<br>

<h1> Things I've built </h1>
<div class="column">
    <div class="flex flex-column">
        <h3>Gradient</h3>
        <div class="flex flex-column">
            <div class="flex flex-column flex-row-ns">
                <div class="w-50-ns flex flex-column">
                    {{ with resources.Get "images/gradient1.png" }}
                    <img src="{{ .RelPermalink }}" class="pa1">
                    {{ end }}
                    {{ with resources.Get "images/gradient4.png" }}
                    <img src="{{ .RelPermalink }}" class="pa1">
                    {{ end }}
                </div>
                <div class="w-50-ns flex flex-column">
                    {{ with resources.Get "images/gradient2.png" }}
                    <img src="{{ .RelPermalink }}" class="pa1">
                    {{ end }}

                    {{ with resources.Get "images/gradient3.png" }}
                    <img src="{{ .RelPermalink }}" class="pa1">
                    {{ end }}
                </div>
            </div>
            <p class="">
                Gradient is a work-in-progress game engine that currently has some rendering and physics features.
                Rendering features currently include PBR direct lighting and materials, HDR rendering with Narkowicz
                ACES tonemapping, shadow mapping with PCF, normal mapping, bloom and environment mapping.
            </p>
        </div>
    </div>
</div>

<br>
<br>

<h1> Experiences I've had</h1>
<div class="column">
    <div class="flex flex-column">
        <h3>nilenso</h3>
        <div class="flex flex-column flex-row-ns">
            <p class="w-third-ns">
                Logo goes here
            </p>
            <p class="w-two-thirds-ns">
                nilenso is an employee-owned software cooperative. I worked with clients (listed below) to build
                complex and scalable backend services, and to coach and train their developers as necessary. I also
                helped define hiring strategy at nilenso and have mentored and trained junior engineers.
            </p>
        </div>
    </div>

    <div class="flex flex-column">
        <h3>Consolidate Health</h3>
        <div class="flex flex-column flex-row-ns">
            <p class="w-third-ns">
                Logo goes here
            </p>
            <p class="w-two-thirds-ns">
                Consolidate Health is a healthcare data app for American patients. As one of their first engineers,
                I designed their patient data platform and built the product from the ground up.
            </p>
        </div>
    </div>

    <div class="flex flex-column">
        <h3>Gojek</h3>
        <div class="flex flex-column flex-row-ns">
            <p class="w-third-ns">
                Logo goes here
            </p>
            <p class="w-two-thirds-ns">
                Gojek is an on-demand decacorn in Southeast Asia. I worked on
                multiple products, including their ride-hailing platform, a voucher bundling system, an A/B
                testing platform, a payments processor and a Kubernetes-based microservice deployment platform.
            </p>
        </div>
    </div>

    <div class="flex flex-column">
        <h3>Rupeek</h3>
        <div class="flex flex-column flex-row-ns">
            <p class="w-third-ns">
                Logo goes here
            </p>
            <p class="w-two-thirds-ns">
                Rupeek is an online gold finance platform in India. I worked on both their web frontend and
                their backend loan-processing automation.
            </p>
        </div>
    </div>

    <div class="flex flex-column">
        <h3>Staples SparX</h3>
        <div class="flex flex-column flex-row-ns">
            <p class="fl w-third-ns">
                Logo goes here
            </p>
            <p class="fl w-two-thirds-ns">
                Staples Sparx was an arm of Staples that used machine learning to suggest content on Staples’ e-commerce
                website. I built a web-based frontend for their internal A/B testing system.
            </p>
        </div>
    </div>
</div>

<br>
<br>

<h1>Tech I've used</h1>
<div>
    <p>List of logos here. C++, C#, DirectX, Clojure, Ruby, Go, Javascript, Haskell, Postgres, Redis, Google Cloud, AWS,
        Kubernetes</p>
</div>

<br>
<br>

<h1>Odds and ends</h1>
<div class="flex flex-column">
    <div class="flex flex-column">
        <h3>IN/Clojure</h3>

        <div class="flex flex-column flex-row-ns">
            <p class="w-third-ns">
                Logo goes here
            </p>
            <p class="w-two-thirds-ns">
                <a href="https://inclojure.org">IN/Clojure</a> is India's annual Clojure and ClojureScript conference.
                I've helped organise it in
                <a href="https://inclojure.org/archive/2018/">2018</a>,
                <a href="https://inclojure.org/archive/2019/">2019</a> and
                <a href="https://inclojure.org/archive/2020/">2020</a>. I ran the beginner's Clojure workshop every year
                and helped develop
                the curriculum for it.
            </p>
        </div>
    </div>

    <div class="flex flex-column">
        <h3>Clojure Basics Screencasts</h3>

        <div class="flex flex-column flex-row-ns">
            <p class="w-third-ns">
                Youtube thumbnail/playlist embed here
            </p>
            <p class="w-two-thirds-ns">
                I recorded some <a
                    href="https://www.youtube.com/playlist?list=PL2Q86tDyogSXCZnAwtxGa5cCmxEKosFZ-">screencasts</a>
                on the nilenso YouTube channel addressing some fundamental Clojure topics that I felt weren't covered
                well
                in existing Clojure material.
            </p>
        </div>
    </div>
</div>

{{ end }}