.red-text
{
    color: red;
}

.column
{
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
}

body.dark .light-only
{
    display: none;
}

body.light .dark-only
{
    display: none;
}

body.dark .dark-only.inline
{
    display: inline;
}

body.light .light-only.inline
{
    display: inline;
}