.red-text {
    color: red;
}

.column {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
}

body.dark .light-only {
    display: none;
}

body.light .dark-only {
    display: none;
}

body.dark .dark-only.inline {
    display: inline;
}

body.light .light-only.inline {
    display: inline;
}

.youtube-video {
    aspect-ratio: 16 / 9;
    width: 100%;
}

.full-width-image > img{
    width: 100%;
    object-fit: contain;
}
.full-width-image > figcaption > p {
    text-align: center;
}

pre {
    scrollbar-width: auto !important;
}